/**
 *******************************************************************************
 * @file    ${1:File Name}
 * @author  ${2:Your Name}
 * @date    ${date}
 * @brief   ${3: Description}
 *******************************************************************************
 */

#ifndef ${4:include_guard_symbol}}
#define ${4:include_guard_symbol}}

/*******************************************************************************
 * INCLUDES
*******************************************************************************/

#ifdef __cplusplus
extern "C" {
#endif

/*******************************************************************************
 * MACROS AND DEFINES
*******************************************************************************/

/*******************************************************************************
 * TYPEDEFS
*******************************************************************************/

/*******************************************************************************
 * EXPORTED VARIABLES
*******************************************************************************/

/*******************************************************************************
 * GLOBAL FUNCTION PROTOTYPES
*******************************************************************************/


#ifdef __cplusplus
}
#endif

#endif // ${4:include_guard_symbol}}