/**
 ********************************************************************************
 * @file    ${1:File Name}
 * @author  ${2:Your Name}
 * @date    ${date}
 * @brief   ${3: Description}
 ********************************************************************************
 */

#ifndef ${4:include_guard_symbol}
#define ${4:include_guard_symbol}

/*******************************************************************************
 * INCLUDES
*******************************************************************************/

/*******************************************************************************
 * MACROS AND DEFINES
*******************************************************************************/

/*******************************************************************************
 * TYPEDEFS
*******************************************************************************/

/*******************************************************************************
 * EXPORTED VARIABLES
*******************************************************************************/

/*******************************************************************************
 * GLOBAL FUNCTION PROTOTYPES
*******************************************************************************/


#endif // ${4:include_guard_symbol}